.InfoBox {
  margin-top: 25px;
}

.CardContainer {
  display: flex;
  justify-content: center;
  
}

.MuiCard-root {
  border-radius: 18px !important;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25) !important;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.MuiCard-root:hover {
  transform: translateY(-6px);
  box-shadow: 0 25px 55px rgba(52, 26, 26, 0.35) !important;
}

.MuiCardContent-root {
  text-align: center;
}

.cityName {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}

.temp {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.weatherDesc {
  font-style: italic;
  opacity: 0.8;
}

